@import "vars";
@import "fonts";
@import "reset.scss";
@import "libs.scss";
@import "global";

.top__promo {
  background-color: $accent;
  padding: 8px 0;
  &-text {
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
  }
}
.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
  }
  &__nav,
  &__option {
    display: flex;
    &-item {
      &:not(:last-child) {
        margin-right: 40px;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__logo {
    transform: translateX(50px);
  }
  &__option {
    &-btn {
      padding: 13px 41px;
      border: 1px solid #000000;
      border-radius: 25px;
      &:hover {
        box-shadow: 0 0 4px #000000;
      }
    }
  }
}

// ----------------------------------- WELCOME -------------------------
.welcome {
  background: linear-gradient(
    130deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(75, 80, 250, 1) 45%,
    rgba(75, 80, 250, 1) 55%,
    rgba(255, 255, 255, 1) 100%
  );
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 89px 0 100px;
    // width: 100%;
    // height: 676px;
    background-image: url(../images/owl.png);
    background-position: center;
    background-repeat: no-repeat;
    &-title {
      width: 620px;
      @extend %roboto-900;
      font-size: 155px;
      line-height: 164px;
    }
    &-content {
      width: 424px;
      margin-right: 50px;
      padding-bottom: 50px;
    }
    &-text {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 40px;
    }
    &-btn {
      display: inline-block;
      padding: 12px 34px;
      border-radius: 24px;
      color: #ffffff;
      background-color: #000000;
      margin-bottom: 24px;
    }
    &-link {
      display: flex;
      align-items: center;
      text-decoration: underline;
      &-btn {
        width: 22px;
        height: 22px;
        border: 1px solid #000000;
        border-radius: 50%;
        background-image: url(../images/icons/play.svg);
        background-position: 7px;
        background-repeat: no-repeat;
        margin-right: 12px;
      }
      &:hover {
        color: #ffffff;
        .welcome__inner-link-btn {
          border: 1px solid #ffffff;
        }
      }
    }
  }
}
// ----------------------------------- WELCOME END -------------------------

// ----------------------------------- SEE IT ALL -------------------------
.seeitall {
  &__inner {
    padding: 0 84px;
    height: 784px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 130px 0 284px;
    background-image: url(../images/seeitall.jpg);
    background-position: top;
    background-repeat: no-repeat;
  }
  &__decor {
    margin-bottom: 100px;
  }
}
// ----------------------------------- SEE IT ALL END -------------------------

// ----------------------------------- FOCUS -------------------------
.focus {
  background-image: url(../images/focus-bg.jpg);
  &__inner {
    padding: 130px 84px;
    height: 900px;
    display: flex;
    justify-content: space-between;
  }
  &__decor {
    display: flex;
    &-img {
      width: 308px;
      height: 442px;
      &:first-child {
        margin-right: 37px;
      }
    }
  }
}
// ----------------------------------- FOCUS END -------------------------

// ----------------------------------- CONNECT -------------------------
.connect {
  background-image: url(../images/connect-bg.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  height: 900px;
  &__inner {
    display: flex;
    padding-top: 56px;
    padding-left: 84px;
  }
}
// ----------------------------------- CONNECT END -------------------------

// ----------------------------------- INCREDIBLE -------------------------
.incredible {
  background-color: #0a3232;
  &__inner {
    color: #ffffff;
    padding: 140px 84px 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__block {
    width: 552px;
    padding-bottom: 64px;
    border-bottom: 1px solid #ffffff;
    &-title {
      font-size: 64px;
      line-height: 72px;
      margin-bottom: 28px;
    }
    &-subtitle {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 38px;
    }
    &-btn {
      padding: 13px 40px;
      background-color: transparent;
      border: 1px solid #ffffff;
      border-radius: 24px;
    }
  }
}
// ----------------------------------- INCREDIBLE END -------------------------

// ----------------------------------- WORKPLACE -------------------------
.workplace {
  &__inner {
    padding: 127px 0 184px;
  }
  &-title {
    width: 524px;
    margin-bottom: 118px;
    font-size: 48px;
    line-height: 56px;
  }
  &__wraper {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    &-text {
      width: 282px;
      padding: 0 12px;
      margin-bottom: 30px;
    }
    &-author {
      position: relative;
      width: 282px;
      padding: 0 12px;
      @extend %roboto-700;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 16px;
      &::after {
        position: absolute;
        display: block;
        content: "";
        width: 11px;
        height: 2px;
        background-color: #000000;
        left: 12px;
        top: -10px;
      }
    }
  }
  &__card {
    position: relative;
    width: 282px;
    height: 386px;
    padding: 24px;
    border: 2px solid #000000;
    margin-bottom: 24px;
    &--blue {
      background-color: #a4c3d8;
    }
    &--swarm {
      background-color: #d9a603;
    }
    &--rose {
      background-color: #ffb480;
    }
    &--green {
      background-color: #b3b97d;
    }
    &-title {
      font-size: 31px;
      line-height: 40px;
      margin-bottom: 12px;
    }
    &-subtitle {
      font-size: 20px;
      line-height: 28px;
    }
    &::after {
      position: absolute;
      content: "";
      display: block;
      width: 13px;
      height: 13px;
      bottom: 24px;
      right: 24px;
      background-image: url(../images/icons/arrow-black.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
// ----------------------------------- WORKPLACE END -------------------------

// ----------------------------------- HOOTS -------------------------
.hoots {
  background-color: #f5f5f5;
  &__inner {
    padding: 128px 0;
    text-align: center;
  }
  &__title {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 80px;
  }
  &__rewards {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
// ----------------------------------- HOOTS END -------------------------

// ----------------------------------- WFA -------------------------
.wfa {
  background-color: #f5f5f5;
  &__inner {
    padding: 128px 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
  &__irl {
    &-link {
      display: block;
      width: 100%;
      font-size: 15px;
      line-height: 24px;
      padding: 12px 0 14px;
      text-align: center;
      border: 1px solid #000000;
      border-radius: 26px;
      margin-top: 24px;
    }
    &-article {
      display: flex;
      flex-direction: column;
      width: 358px;
      padding: 72px 36px 32px;
      color: #ffffff;
      background-color: #0a3232;
      &-title {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 18px;
      }
      &-text {
        margin-bottom: auto;
      }
      &-link {
        position: relative;
        width: 100%;
        font-size: 14px;
        text-transform: uppercase;
        &::after {
          position: absolute;
          display: block;
          content: "";
          width: 13px;
          height: 13px;
          top: 0;
          right: 0;
          background-image: url(../images/icons/arrow-white.svg);
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
  }
}
// ----------------------------------- WFA END -------------------------

// ----------------------------------- FOOTER -------------------------

.footer {
}

// ----------------------------------- FOOTER END ---------------------

@import "media";
